SUPABASE_URL=https://yjwhpprzyuvlizzdywfg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqd2hwcHJ6eXV2bGl6emR5d2ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MjIyNjYsImV4cCI6MjA5ODI5ODI2Nn0.N5in_gUJ_ZaMcwDzy97Wt7tNmZGriMYXk5CbuwoDYeI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqd2hwcHJ6eXV2bGl6emR5d2ZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjcyMjI2NiwiZXhwIjoyMDk4Mjk4MjY2fQ.v_X5YUE8_ZkaAKZy7zEDGTZ4cGVrtVigqBVbh2hk2hs

GITHUB_PACKAGES_TOKEN=
